footer{
    background: linear-gradient(180deg, #6200ff  0%,#6958af 100%);
    overflow: hidden;
    .container{
        padding: 6.7rem 1.5rem 7.5rem 1.5rem;
        .main-footer{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .f-contato{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                max-width: 34.4rem;
                h2{
                    margin-bottom: 0.6rem;
                    font-size: 4rem;
                    line-height: 6rem;
                    color: #FFFFFF;
                    font-weight: bold;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                form{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    span{
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        color: #FFFFFF;
                        &:not(:last-child){
                            margin-bottom: 2rem;
                        }
                        &:not(:first-child){
                            margin-top: 2rem;
                        }
                    }
                    input, textarea{
                        padding: 0rem 1rem;
                        width: 100%;
                    }
                    input:hover, textarea:hover{
                        background-color: #ccc;
                    }
                    input{
                        height: 3.5rem;
                        border-radius: 0.5rem;
                    }
                    textarea{
                        padding-top: 1rem;
                        resize: none;
                        height: 12.4rem;
                        border-radius: 0.5rem;
                        margin-bottom: 2.8rem;
                    }
                }
                .btn-primary{
                    align-self: center;
                    @include style-btn(5.4rem, $yellow, #503387);
                }
            }
            .f-social{
                padding-top: 8.2rem;
                h4{
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #00C2FF;
                    margin-bottom: 2.2rem;
                }
                ul{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    li{
                        &:not(:last-child){
                            margin-bottom: 2.5rem;
                        }
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            span{
                                font-weight: normal;
                                font-size: 1.8rem;
                                line-height: 2.7rem;
                                color: #FFFFFF;
                                margin-left: 1.5rem;
                            }
                        }
                    }
                }
            }
            .f-links{
            padding-top: 8.2rem;
                h4{
                    font-weight: 600;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #00C2FF;
                    margin-bottom: 2.2rem;
                }
                ul{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    li{
                        &:not(:last-child){
                            margin-bottom: 3.9rem;
                        }
                        a{
                            font-weight: normal;
                            font-size: 1.8rem;
                            line-height: 2.7rem;
                            color: #FFFFFF;
                            margin-left: 1.5rem;
                        }
                    }
                }
            }
            .f-logo{
                align-self: center;
                img{
                    width: 100%;
                    max-width: 40rem;
                }
            }
        }
    }
    .f-end{
        width: 100%;
        padding-bottom: 4.1rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            width: 100%;
            max-width: 134.1rem;
            height: 0.2rem;
            border-radius:10rem;
            background-color:#FFFF;
        }
        span{
            margin-top: 2.8rem;
            font-style: normal;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: #fff;
        }
    }
}