.s-hero{
    padding-top: 14rem;
    padding-bottom: 4rem;
    background: linear-gradient(180deg, #6b1ff0 0%, #B18DEE 100%);
    .container{
        @include flex(row, flex-start, space-between);
    }
    .text{
        width: 100%;
        max-width: 55rem;
        span{
            font-size: 2.8rem;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.527);
        }
        h1{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 125%;
            color: $white;
            margin-bottom: 1.6rem;
        }
        p{
            font-size: 1.8rem;
            line-height: 150%;
            color: $white;
            max-width: 48.8rem;
            margin-bottom: 3.2rem;
        }
        .btn-primary{
            @include style-btn(5.4rem, $yellow, #503387);
            margin-bottom: 8.6rem;
        }
        .conheca{
            display: flex;
            align-items: center;
            span{
                font-weight: bold;
                font-size: 1.6rem;
                line-height: 1.9rem;
                color: $white;
                margin-left: 1.6rem;
            }
        }
        .icon{
            width: 4.2rem;
            height: 4.2rem;
            background-color:   rgba(123, 90, 186, 0.4);
            border-radius: 0.6rem;
            @include flex(row, center, center);
        }
    }
    .image{
        position: relative;
        top: 3.4rem;
    }
    @include responsive(991px){
        .container{
            display: flex;
            flex-direction: column;
        }
        .text{
            max-width: 100%;
            margin-bottom: 3rem;
            h1{
                text-align: center;
            }
            p{
                max-width: 100%;
                text-align: center;
            }
            button{
                display: block;
                margin: 0 auto;
                margin-bottom: 4rem;
            }
            .conheca{
                justify-content: center;
            }
        }
    }
    @include responsive(600px){
        padding-top: 2.5rem;
        margin-top: 8rem;
    }
    @include responsive(480px){
        .text{
            h1{
                font-size: 4.3rem;
            }
        }
    }
    .image{
        left: -0.9rem;
    }
}

.s-resource{
    padding-top: 4rem;
    padding-bottom: 9.9rem;
    .top{
        @include flex(row, center, space-between);
        margin-bottom: 5.3rem;
        h2{
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 3.2rem;
            line-height: 130%;
            color: $gray-01;
            margin-bottom: 1.6rem;
            max-width: 50.2rem;
        }
        p{
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            color: $gray-02;
        }
    }
    .content{
        width: 100%;
        @include flex(row, center, space-between);
        li{
            cursor: pointer;
            border: 2px solid rgb(123, 90, 186);
            border-radius: 2rem;
            padding: 2rem;
            width: 100%;
            max-width: 30rem;
            height: 30rem;
            overflow: hidden;
            transition: all .3s;
            &:not(:first-child){
                margin-left: 4rem;
            }
            &:hover{
                transform: scale(1.1);
                background-color: rgba(197, 190, 220, 0.2);
            }
        }
        .icon{
            width: 6.4rem;
            height: 6.4rem;
            background-color: rgba(197, 190, 220, 0.2);
            border-radius: 1.2rem;
            @include flex(row, center, center);
            margin-bottom: 3rem;
        }
        .info{
            max-width: 23.9rem;
            h4{
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: $purple;
                margin-bottom: 2rem;
            }
            p{
                text-align: justify;
                font-size: 1.6rem;
                line-height: 165%;
                color: $gray-02;
            }
        }
        ul{
            width: 100%;
            margin-top: 4.1rem;
            padding-bottom: 6.5rem;
            padding-left: 2rem;
            border-bottom: 0.3rem solid rgba(123, 90, 186, 0.4);
            @include flex(row, flex-start, space-between);
        }
        // .card-feature{
        //     width: 100%;
        //     max-width: 28rem;
        //     height: 32.3rem;
        //     background-color: rgba(197, 190, 220, 0.2);
        //     border-radius: 1.2rem;
        //     margin-right: 4rem;
        //     padding-top: 4.1rem;
        //     padding-left: 4.2rem;
        //     .icon{
        //         background-color: $white;
        //     }
        //     .info{
        //         width: 100%;
        //     }
        // }
    }
    @include responsive(991px){
        .content{
            flex-direction: column;
            align-items: flex-start;
            .card-feature{
                max-width: 100%;
                height: auto;
                padding: 3rem;
                @include flex(column, center, center);
                .info{
                    max-width: 100%;
                    h4, p{
                        text-align: center;
                    }
                }
            }
        }
    }
    @include responsive(768px){
        padding-top: 10rem;
        padding-bottom: 5rem;
        .top{
            flex-direction: column;
            h2{
                text-align: center;
                margin-bottom: 2rem;
            }
        }
        .content{
            ul{
                gap: 2.5rem;
            }
        }
    }
    @include responsive(480px){
        padding-top: 6rem;
        .content{
            ul{
                padding-left: 0rem;
                margin-top: 3rem;
                @include flex(column, center, center);
                li{
                    @include flex(column, center, center);
                    .info{
                        max-width: 95%;
                        text-align: center;
                    }
                }
            }
        }
    }
}


.s-info{
    padding: 4rem 0rem;
    background: url("../img/infobackground.svg") no-repeat center center;
    background-size: cover;
    .container{
        .main-info{
            display: flex;
            justify-content: center;
            flex-direction: column;
            .card-primary{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .img{
                    width: 100%;
                    max-width: 50%;
                }
                .text{
                    width: 100%;
                    max-width: 50%;
                    h3{
                        font-size: 6rem;
                        font-weight: 800;
                        color: #382066;
                    }
                    ul{
                        margin-top: 4rem;
                        background-color: rgba(223, 32, 48, 0.726);
                        padding: 2rem;
                        border-radius: 0.8rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        li{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            img{
                                width: 4rem;
                                height: 4rem;
                            }
                            span{
                                font-size: 2rem;
                                margin-left: 4rem;
                            }
                            &:not(:first-child){
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
            .card-secondy{
                display: flex;
                flex-direction: row-reverse;
                align-items: flex-start;
                justify-content: space-between;
                .img{
                    width: 100%;
                    max-width: 50%;
                }
                .text{
                    width: 100%;
                    max-width: 50%;
                    h3{
                        font-size: 6rem;
                        font-weight: 800;
                        color: #382066;
                    }
                    ul{
                        margin-top: 4rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        li{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            img{
                                width: 4rem;
                                height: 4rem;
                            }
                            span{
                                font-size: 2rem;
                                margin-left: 4rem;
                            }
                            &:not(:first-child){
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}